
h1 { color: rgb(244, 244, 244);
    padding: 60px;
    text-align: center;
    background: rgb(22, 6, 142);
    
    font-size: 30px;
    display: block;
  }

  p {

    color: rgb(244, 244, 244);
    padding: 60px;
    text-align: center;
    background: rgb(22, 6, 142);
    
    font-size: 10px;
    

  }
  
